<%- include("header") -%>
        <div class="box" id="heading">
            <h1><%= listTitle %></h1>
        </div>

        <div class="box">
            <% listItems.forEach((listItem) => { %>
            <form action="/delete" method="POST">
                <div class="item">
                    <input type="checkbox" name="completed" value="<%=listItem._id%>" onChange="this.form.submit()">
                    <p><%=listItem.name %></p>
                </div>
            </form>
            <% }); %>

            <form class="item" action='/' method="POST">
                <input type="text" placeholder="New item" name="newItem" autocomplete="off">
                <button type="submit" name="list" value="<%= listTitle %>">+</button>
            </form>
        </div>

<%- include("footer") -%>